<footer class="page-footer">
  <div class="container">
    <div class="promo">
      <div class="promo__wrapper">
        <h2 class="promo__title">{{ 'FOOTER.PROMO.TITLE' | translate }}</h2>
        <h3 class="promo__subtitle">{{ 'FOOTER.PROMO.SUBTITLE' | translate }}</h3>
      </div>
      <form class="form-email" id="form-email">
        <div class="form-email__container">
          <div class="form-email__wrapper">
            <label for="email" class="form-email__title">{{ 'FOOTER.PROMO.FORM.TITLE' | translate }}</label>
            <input
              class="form-email__input"
              type="email"
              id="email"
              name="email"
              placeholder="name@domain.com"
              required
            />
          </div>
          <button type="submit" class="button email-button" id="subscribe-button">{{ 'FOOTER.PROMO.FORM.BUTTON' | translate }}</button>
        </div>
        <p class="personal-data">{{ 'FOOTER.PROMO.FORM.DESCRIPTION' | translate }}</p>
      </form>
    </div>

    <div class="page-footer__wrapper">
      <div class="contacts">
        <h2 class="contacts__title">{{ 'FOOTER.CONTACTS.TITLE' | translate }} «{{ configuration.companyName }}»</h2>
        <p class="contacts__description">{{ 'FOOTER.CONTACTS.DESCRIPTION' | translate }}</p>
        <div class="contacts__tel-email">
          <a class="contacts__email" href="mailto:info@domain.com" id="link-email">info@domain.com</a>
          <a class="contacts__tel" href="tel:+71234567890" id="link-tel">+7 (123) 456-78-90</a>
        </div>
        <ul class="list-none social-contacts">
          <li class="social-contacts__item">
            <a href="https://telegram.org/desktop">
              <fa-icon [icon]="faTelegram" />
              <span class="visually-hidden">Телеграмм</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://vk.com/">
              <fa-icon [icon]="faVk" />
              <span class="visually-hidden">ВК</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://ru.pinterest.com/ideas/">
              <fa-icon [icon]="faPinterest" />
              <span class="visually-hidden">Пинтерест</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://teams.live.com/free">
              <fa-icon [icon]="faSkype" />
              <span class="visually-hidden">Скайп</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="sevrvices-information-container">
        <div class="services">
          <h3 class="sevrvices-information-title">{{ 'FOOTER.SERVICES.TITLE' | translate }}</h3>
          <ul class="list-none list">
            <li class="list-item">{{ 'FOOTER.SERVICES.SUMMER_HIKES' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.SERVICES.WINTER_HIKES' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.SERVICES.TEMPLE_VISITS' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.SERVICES.EXTREME_TOURISM' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.SERVICES.AMAZON_HIKING' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.SERVICES.AFRICA_TRIP' | translate }}</li>
          </ul>
        </div>

        <div class="information">
          <h3 class="sevrvices-information-title">{{ 'FOOTER.INFO.TITLE' | translate }}</h3>
          <ul class="list-none list">
            <li class="list-item">{{ 'FOOTER.INFO.PACKING' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.INFO.ESSENTIAL_ITEMS' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.INFO.INSURANCE' | translate }}</li>
            <li class="list-item">{{ 'FOOTER.INFO.DOCTOR' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container copyright__container">
      <span class="copyright__author">{{ 'FOOTER.COPYRIGHT.AUTHOR' | translate }}</span>
      <a class="copyright__personal-data" id="personal-data" href="#">{{ 'FOOTER.COPYRIGHT.PRIVACY_POLICY' | translate }}</a>
    </div>
  </div>
</footer>
