<footer class="page-footer">
  <div class="container">
    <div class="promo">
      <div class="promo__wrapper">
        <h2 class="promo__title">актуально</h2>
        <h3 class="promo__subtitle">Получайте полезные рассылки о путешествиях</h3>
      </div>
      <form class="form-email" id="form-email">
        <div class="form-email__container">
          <div class="form-email__wrapper">
            <label for="email" class="form-email__title">Введите e-mail адрес</label>
            <input
              class="form-email__input"
              type="email"
              id="email"
              name="email"
              placeholder="name@domain.com"
              required
            />
          </div>
          <button type="submit" class="button email-button" id="subscribe-button">Подписаться на новости</button>
        </div>
        <p class="personal-data">
          подписываясь на новости, вы автоматически соглашаетесь с условиями обработки персональных данных и правилами
          рекламных рассылок
        </p>
      </form>
    </div>

    <div class="page-footer__wrapper">
      <div class="contacts">
        <h2 class="contacts__title">Компания «РумТибет»</h2>
        <p class="contacts__description">
          Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
          Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.
        </p>
        <div class="contacts__tel-email">
          <a class="contacts__email" href="mailto:info@domain.com" id="link-email">info@domain.com</a>
          <a class="contacts__tel" href="tel:+71234567890" id="link-tel">+7 (123) 456-78-90</a>
        </div>
        <ul class="list-none social-contacts">
          <li class="social-contacts__item">
            <a href="https://telegram.org/desktop">
              <fa-icon [icon]="faTelegram" />
              <span class="visually-hidden">Телеграмм</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://vk.com/">
              <fa-icon [icon]="faVk" />
              <span class="visually-hidden">ВК</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://ru.pinterest.com/ideas/">
              <fa-icon [icon]="faPinterest" />
              <span class="visually-hidden">Пинтерест</span>
            </a>
          </li>
          <li class="social-contacts__item">
            <a href="https://teams.live.com/free">
              <fa-icon [icon]="faSkype" />
              <span class="visually-hidden">Скайп</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="sevrvices-information-container">
        <div class="services">
          <h3 class="sevrvices-information-title">Наши услуги</h3>
          <ul class="list-none list">
            <li class="list-item">Прогулки в горы летом</li>
            <li class="list-item">Зимние походы в горы</li>
            <li class="list-item">Посещение храмов в горах</li>
            <li class="list-item">Экстремальные виды туризма</li>
            <li class="list-item">Походы в джунглях Амазонии</li>
            <li class="list-item">Поездка в Африку</li>
          </ul>
        </div>

        <div class="information">
          <h3 class="sevrvices-information-title">Важно для путешествий</h3>
          <ul class="list-none list">
            <li class="list-item">Как собрать в долгий поход?</li>
            <li class="list-item">Жизненно важные предметы для похода</li>
            <li class="list-item">Медицинская страховка, гарантии безопасности</li>
            <li class="list-item">Если вы врач - загляните сюда</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container copyright__container">
      <span class="copyright__author">ИП Константинопольский К.К., 2023</span>
      <a class="copyright__personal-data" id="personal-data" href="#">Политика обработки персональных данных</a>
    </div>
  </div>
</footer>
