<section class="section-user-page">
  <div class="container user-page">
    <app-create-user (createUser)="onCreateUser($event)"></app-create-user>
    <h1 class="user-page__title" appBoldText>{{ 'USERS_PAGE.TITLE' | translate}}</h1>
    <app-users-filter (filterUsers)="onFilter($event)"></app-users-filter>
    <button class="button-update" (click)="refreshUsers()" id="update-data">
      <img src="/images/icon-update.svg" width="48" height="48" alt="{{ 'USERS_PAGE.UPDATE_BUTTON_ALT' | translate }}" />
    </button>
    <h3>
      {{ (filteredUsers$ | async)?.length ?? 0 }} {{ 'USERS_PAGE.USERS_COUNT' | translate }}
    </h3>
    <ul class="list-none user-card">
      @for (user of filteredUsers$ | async; track user.id) {
        <app-user-card
          [user]="user"
          (deleteUser)="onDeleteUser($event)"
          appAnimatedGradient
          [gradientConfiguration]="{
            delay: 500,
            colors: ['#d4a373', '#f140a0', '#d4a373'],
            thickness: 5
          }"
        >
        </app-user-card>
      } @empty {
        <div class="message-not-users">
          <p class="text">{{ 'USERS_PAGE.NO_USERS' | translate }}</p>
        </div>
      }
    </ul>
  </div>
</section>
