.section-user-page {
  background-color: #D9D9D9;
}

.user-page {
  padding: 65px 0 100px 0;
  min-height: 1470px;
  width: 1500px;

  &__title {
    color: var(--green-background);
    margin: 0 0 95px 0;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 29.9px;
    vertical-align: middle;
  }
}

.user-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 50px;
}

.button-update {
  position: fixed;
  left: 60px;
  bottom: 60px;
  z-index: 1000;
  width: 80px;
  height: 80px;
  appearance: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;

  &:hover {
    opacity: 0.9;
  }

}
