<div class="page-login">
  <form class="login-form" id="login-form-user" [formGroup]="loginForm">
    <div class="login-form__wrapper">
      <h1 class="login-form__title">Авторизация</h1>

      <div class="login-form__wrapper-input">
        <label class="form-label">Логин</label>
        <input
          type="text"
          class="input-field"
          id="login-user"
          placeholder="Введите логин"
          formControlName="username">
      </div>

      <div class="login-form__wrapper-input">
        <label class="form-label">Пароль</label>
        <input
          type="password"
          class="input-field"
          id="password-user"
          placeholder="Введите пароль"
          formControlName="password">
      </div>


      <button
        class="button
        login-form__login-btn"
        type="submit"
        id="login-button"
        (click)="onLogin()">
        Войти
      </button>
    </div>
  </form>
</div>
