.users-filter {
  display: flex;
  flex-direction: column;
  width: 300px;

  &__title {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    line-height: 115%;
    color: var(--primary-color);
  }

  &__input {
    cursor: pointer;
    padding: 8px;
    margin: 0;
    border: 0;
    background-color: var(--grey-background);
    border-radius: 6px;
  }
}
