<ng-template #message let-message>
  <div class="template-message">
    <div class="template-message__container">
      <p class="template-message__title">{{ message.type }}</p>
      <p class="template-message__subtitle">{{ message.text }}</p>
      <button
        class="close-button-message"
        id="close-button"
        type="submit"
        (click)="messageService.closeMessage(message)">
      </button>
    </div>
  </div>
</ng-template>

<div class="message-container">
  @for (notice of messageService.getMessage(); track notice) {
    <ng-container [ngTemplateOutlet]="message" [ngTemplateOutletContext]="{ $implicit: notice }"></ng-container>
  }
</div>
