.create-page {
  padding: 0 0 100px 0;
}

.create-form-title {
  text-align: center;
  font-size: 30px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}

.input-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.name-label {
  font-weight: bold;
}
