<div class="container create-page">
  <h2 class="create-form-title">{{ 'POSTS.CREATE.TITLE' | translate }}</h2>
  <form class="create-form" [formGroup]="createForm" id="create-post">
    <div class="create-form__item">
      <label class="name-label" for="title-input">{{ 'POSTS.COMMON.TITLE' | translate }}</label>
      <input type="text" formControlName="title" placeholder="{{ 'POSTS.COMMON.TITLE' | translate }}" class="input-field" id="title-input" />
    </div>

    <div class="create-form__item">
      <label class="name-label" for="body-input">{{ 'POSTS.COMMON.BODY' | translate }}</label>
      <input type="text" formControlName="body" placeholder="{{ 'POSTS.COMMON.BODY' | translate }}" class="input-field" id="body-input" />
    </div>

    <div class="create-form__item">
      <label class="name-label" for="tags">{{ 'POSTS.COMMON.TAGS' | translate }}</label>
      <input type="text" formControlName="tags" placeholder="{{ 'POSTS.COMMON.TAGS' | translate }}" class="input-field" id="tags" />
    </div>

    <div class="create-form__item" formGroupName="reactions">
      <div class="name-label">{{ 'POSTS.COMMON.REACTIONS' | translate }}:</div>

      <div class="input-container">
        <label for="likes">{{ 'POSTS.COMMON.LIKES' | translate }}</label>
        <input
          id="likes"
          type="number"
          min="0"
          formControlName="likes"
          placeholder="{{ 'POSTS.COMMON.LIKES' | translate }}"
          class="input-field"
        />

        <label for="dislikes">{{ 'POSTS.COMMON.DISLIKES' | translate }}</label>
        <input
          id="dislikes"
          type="number"
          min="0"
          formControlName="dislikes"
          placeholder="{{ 'POSTS.COMMON.DISLIKES' | translate }}"
          class="input-field"
        />
      </div>
    </div>

    <div class="create-form__item">
      <label class="name-label" for="views">{{ 'POSTS.COMMON.VIEWS' | translate }}</label>
      <input
        type="number"
        min="0"
        formControlName="views"
        placeholder="{{ 'POSTS.COMMON.VIEWS' | translate }}"
        class="input-field"
        id="views"
      />
    </div>

    <div class="create-form__item">
      <label class="name-label" for="user-id">{{ 'POSTS.COMMON.USER_ID' | translate }}:</label>
      <input
        type="number"
        min="0"
        formControlName="userId"
        placeholder="{{ 'POSTS.COMMON.USER_ID' | translate }}"
        class="input-field"
        id="user-id"
      />
    </div>

    <button type="submit" class="button" (click)="onSavePost()" id="save-post">{{ 'POSTS.CREATE.SUBMIT' | translate }}</button>
  </form>
</div>
