<li class="user-card__item">
  <h2 class="user-card__title">{{ user.name }}</h2>
  <p class="user-card__username color-yellow">{{ user.username | uppercase }}</p>

  <h3 class="user-card__subtitle">{{ 'USER.CARD.CONTACTS' | translate }}</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.EMAIL' | translate }}</span>
      <span class="user-card__value color-yellow">{{ user.email }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.WEBSITE' | translate }}</span>
      <span class="user-card__value">{{ user.phone | phoneFormat: phoneFormat.MASKED }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.PHONE' | translate }}</span>
      <span class="user-card__value color-yellow">{{ user.website || 'Неизвестно' }}</span>
    </div>
  </div>

  <h3 class="user-card__subtitle">{{ 'USER.CARD.ADDRESS' | translate }}</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.CITY' | translate }}</span>
      <span class="user-card__value">{{ user.address.city }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.STREET' | translate }}</span>
      <span class="user-card__value">{{ user.address.street }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.SUITE' | translate }}</span>
      <span class="user-card__value">{{ user.address.suite || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.SUITE' | translate }}</span>
      <span class="user-card__value">{{ user.address.zipcode }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">{{ 'USER.COMMON.COORDINATES' | translate }}</span>
      <div class="user-card__value">
        <span class="coordinates">{{ user.address.geo.lat }}</span>
        <span class="coordinates">{{ user.address.geo.lng }}</span>
      </div>
    </div>
  </div>

  <h3 class="user-card__subtitle">{{ 'USER.CARD.WORK' | translate }}</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <div class="user-card__label">{{ 'USER.COMMON.COMPANY' | translate }}</div>
      <div class="user-card__value">{{ user.company.name }}</div>
    </div>
    <div class="user-card__wrapper mb26">
      <div class="user-card__label">{{ 'USER.COMMON.MISSION' | translate }}</div>
      <div class="user-card__value text-italic">{{ user.company.catchPhrase || 'Неизвестно' }}</div>
    </div>
    <div class="user-card__wrapper">
      <div class="user-card__label">{{ 'USER.COMMON.SPECIALIZATION' | translate }}</div>
      <div class="user-card__value">{{ user.company.bs || 'Неизвестно' }}</div>
    </div>
  </div>
  <button (click)="onDelete()" appBoldText class="button" type="button" id="delete-card-button">
    {{ 'USER.CARD.DELETE' | translate }}
  </button>
</li>
