<section class="main-hero">
  <div class="main-hero__wrapper">
    <div class="container">
      <p class="title-hero">
        {{ 'HOME.HERO.TITLE' | translate }}
      </p>
      <form class="form" id="form">
        <ul class="list-none form__list">
          <li class="form__item">
            <label>
              <select
                [(ngModel)]="selectedLocation"
                class="field field--location"
                id="location"
                name="location"
                required
              >
                <option class="field__option" value="" disabled selected>{{ 'HOME.HERO.FORM.LOCATION.LABEL' | translate }}</option>
                @for (location of locations; track location.id) {
                  <option class="field__option" [value]="location.value">
                    {{ location.location | translate }}
                  </option>
                }
              </select>
            </label>
            <span class="description-field">{{ 'HOME.HERO.FORM.LOCATION.PLACEHOLDER' | translate }}</span>
          </li>
          <li class="form__item">
            <p-datepicker
              [(ngModel)]="selectedDate"
              inputId="input-date"
              name="date"
              inputStyleClass="field field--date"
              placeholder="00/00/00"
            />
            <span class="description-field">{{ 'HOME.HERO.FORM.DATE.PLACEHOLDER' | translate }}</span>
          </li>
          <li class="form__item">
            <label>
              <select
                [(ngModel)]="selectedParticipants"
                class="field field--select field--participants"
                id="participants"
                name="participants"
              >
                <option class="field__option" value="" disabled selected>{{ 'HOME.HERO.FORM.PARTICIPANTS.LABEL' | translate }}</option>
                @for (quantity of participants; track quantity.id) {
                  <option class="field__option" [value]="quantity.value">{{ quantity.quantity }} участников</option>
                }
              </select>
            </label>
            <span class="description-field">{{ 'HOME.HERO.FORM.PARTICIPANTS.PLACEHOLDER' | translate }}</span>
          </li>
        </ul>
        <button
          class="button button-form"
          type="submit"
          id="buttom-form"
          [disabled]="!selectedLocation || !selectedDate || !selectedParticipants"
        >
          {{ 'HOME.HERO.FORM.SUBMIT' | translate }}
        </button>
      </form>

      <div class="live-text-wrapper">
        <label class="label-text">
          <input
            [(ngModel)]="liveText"
            class="field field-live-input"
            type="text"
            placeholder="{{ 'HOME.HERO.LIVE_TEXT.PLACEHOLDER' | translate }}"
            id="input-live-text"
          />
        </label>
        <div>{{ liveText }}</div>
      </div>
    </div>
  </div>
</section>

<main>
  <section class="history">
    <div class="container">
      <div class="history__wrapper">
        <div class="history__images-container">
          <img src="/images/mountains.png" width="350" height="400" alt="mountains" />
          <img src="/images/house-mountains.png" width="350" height="400" class="history__img" alt="house" />
        </div>
        <div class="history__about-hike">
          <h2 class="main-title">{{ 'HOME.HISTORY.TITLE' | translate }}</h2>
          <h3 class="main-subtile">{{ 'HOME.HISTORY.SUBTITLE' | translate }}</h3>
          <p class="description">{{ 'HOME.HISTORY.DESCRIPTION' | translate }}</p>
          <button
            (click)="messageService.showSuccess('Программа отправлена')"
            class="button"
            type="submit"
            id="tour-program-button"
          >
            {{ 'HOME.HISTORY.BUTTON' | translate }}
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="advantages">
    <div class="container">
      <div class="advantages__wrapper">
        <div>
          <h2 class="main-title">{{ 'HOME.ADVANTAGES.TITLE' | translate }}</h2>
          <h3 class="main-subtile">{{ 'HOME.ADVANTAGES.SUBTITLE' | translate }}</h3>
          <p class="description">{{ 'HOME.ADVANTAGES.DESCRIPTION' | translate }}</p>
          <ul class="list-none advantages__list">
            @for (offer of offers; track offer.id) {
              <li class="advantages__item">
                <fa-icon [icon]="offer.img" class="advantanges__icon" />
                <div>
                  <h3 class="advantages__title">{{ offer.title | translate }}</h3>
                  <p class="advantages__description">{{ offer.description | translate }}</p>
                </div>
              </li>
            }
          </ul>
          <button
            (click)="messageService.showInfo('Стоимость расчитана на почте')"
            class="button"
            type="button"
            id="program-cost-button"
          >
            {{ 'HOME.ADVANTAGES.BUTTON' | translate }}
          </button>
        </div>

        <div class="advantages__images-container">
          <img class="img" src="/images/hike-tea.png" width="250" height="250" alt="tea" />
          <img class="img" src="/images/hike-man.png" width="250" height="250" alt="man" />
          <img class="img" src="/images/hike-winter.png" width="250" height="250" alt="winter" />
          <img class="img" src="/images/hike-summer.png" width="250" height="250" alt="summer" />
        </div>
      </div>
    </div>
  </section>

  <section class="popular-tours">
    <div class="container">
      <h2 class="main-title">{{ 'HOME.POPULAR_TOURS.TITLE' | translate }}</h2>
      <h3 class="main-subtile">{{ 'HOME.POPULAR_TOURS.SUBTITLE' | translate }}</h3>
      <ul class="list-none popular-tours__list">
        @for (destination of destinations; track destination.id) {
          <li class="popular-tours__item">
            <img [src]="'/images/' + destination.img + '.png'" [alt]="destination.title" width="380" height="500" />
            <div class="popular-tours__wrapper">
              <div>
                <h3 class="tour-title">{{ destination.title | translate }}</h3>
                <p class="tour-description">{{ destination.description | translate }}</p>
              </div>
              <div class="tour-price">{{ destination.price }} &dollar;</div>
            </div>
            <div class="rating-wrapper">
              <span class="tour-rating-icon"></span>
              <span class="tour-rating">{{ destination.rating }}</span>
            </div>
          </li>
        }
      </ul>
      <button
        (click)="messageService.showSuccess('Рейтинг Получен')"
        class="button button--center"
        type="submit"
        id="rating-button"
      >
        {{ 'HOME.POPULAR_TOURS.BUTTON' | translate }}
      </button>
    </div>
  </section>

  <section class="travel-blog">
    <div class="container">
      <h2 class="main-title">{{ 'HOME.TRAVEL_BLOG.TITLE' | translate }}</h2>
      <h3 class="main-subtile">{{ 'HOME.TRAVEL_BLOG.SUBTITLE' | translate }}</h3>
      <ul class="list-none travel-blog__list">
        @for (article of articles; track article.id) {
          <li class="travel-blog__item">
            <img
              class="travel-blog__img"
              [src]="'/images/' + article.img + '.png'"
              [alt]="article.title"
              width="230"
              height="280"
            />
            <div class="travel-blog__wrapper">
              <div>
                <a href="#" class="travel-blog__link" id="link-article">{{ article.title | translate }}</a>
                <p class="travel-blog__description">{{ article.decription | translate }}</p>
              </div>
              <div class="travel-blog__container">
                <div class="date-publication">{{ article.publication }}</div>
                <a href="#" class="link-to-article" id="link-read">{{ 'HOME.TRAVEL_BLOG.READ_MORE' | translate }}</a>
              </div>
            </div>
          </li>
        }
      </ul>
      <button
        (click)="messageService.showWarn('Ошибка')"
        class="button button--center"
        type="submit"
        id="show-articles-button"
      >
        {{ 'HOME.TRAVEL_BLOG.BUTTON' | translate }}
      </button>
    </div>
  </section>

  <section class="photo-report">
    <div class="container">
      <h2 class="main-title">{{ 'HOME.PHOTO_REPORT.TITLE' | translate }}</h2>
      <h3 class="main-subtile">{{ 'HOME.PHOTO_REPORT.SUBTITLE' | translate }}</h3>
      <ul class="list-none photo-report__list">
        @for (photo of images; track photo.id) {
          <li class="photo-report__item">
            <img [src]="'/images/' + photo.image + '.png'" [alt]="photo.image" />
          </li>
        }
      </ul>
      <button
        (click)="messageService.showInfo('Информация показана')"
        id="pinterest-button"
        class="button button--center"
        type="submit"
      >
        {{ 'HOME.PHOTO_REPORT.BUTTON' | translate }}
      </button>
    </div>
  </section>
</main>
