<div class="user-posts">
  <h2>{{ 'POSTS_PAGE.TITLE' | translate }}</h2>
  <a routerLink="/posts/create" id="link-create" class="button">{{ 'POSTS_PAGE.CREATE_BUTTON' | translate }}</a>
  <div class="card">
    @if (postService.isLoading$ | async) {
      @for (row of skeletonRows; track $index) {
        <p-skeleton height="2rem"></p-skeleton>
      }
    } @else {
      <p-contextmenu #menu [model]="postsContextMenu" />
      <p-table
        [value]="(postService.post$ | async) ?? []"
        [totalRecords]="(postService.total$ | async) ?? 0"
        [paginator]="true"
        [lazy]="true"
        [rows]="rows"
        [first]="first"
        [rowsPerPageOptions]="[10, 20, 50]"
        (onPage)="onPageChange($event)"
        [contextMenu]="menu"
        [(contextMenuSelection)]="selectedPost"
      >
        <ng-template #header>
          <tr>
            <th class="text">{{ 'POSTS_PAGE.TABLE.TITLE' | translate }}</th>
            <th class="text">{{ 'POSTS_PAGE.TABLE.TAGS' | translate }}</th>
            <th class="text">{{ 'POSTS_PAGE.TABLE.VIEWS' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template #body let-post>
          <tr (dblclick)="navigateToPost(post)" class="table-row" [pContextMenuRow]="post">
            <td>{{ post.title }}</td>
            <td>{{ post.tags }}</td>
            <td>{{ post.views }}</td>
          </tr>
        </ng-template>
      </p-table>
    }
  </div>
</div>

<router-outlet></router-outlet>
