<div class="product-detail container">
  <div class="product-gallery">
    <p-galleria [value]="product.images" [numVisible]="5" [circular]="true">
      <ng-template #item let-image>
        <img [src]="image" [alt]="product.title" class="gallery-image" />
      </ng-template>
      <ng-template #thumbnail let-image>
        <img [src]="image" [alt]="product.title" class="gallery-image" />
      </ng-template>
    </p-galleria>
  </div>

  <div class="product-info">
    <h1>{{ product.title }}</h1>
    <p-tag [value]="product.category" />
    <p-rating [ngModel]="product.rating" [readonly]="true" />

    <p class="description">{{ product.description }}</p>

    <div class="price-block">
      <span class="price">${{ product.price }}</span>
      @if (product.discountPercentage) {
        <span class="discount">-{{ product.discountPercentage }}%</span>
      }
    </div>

    <div class="product-card-description">
      <p>Бренд</p>
      <p class="bold">{{ product.brand }}</p>
    </div>
    <div class="product-card-description">
      <p>Артикул</p>
      <p class="bold">{{ product.sku }}</p>
    </div>
    <div class="product-card-description">
      <p>В наличии</p>
      <p class="bold">{{ product.stock }} шт.</p>
    </div>
    <div class="product-card-description">
      <p>Вес</p>
      <p class="bold">{{ product.weight }} г</p>
    </div>
    <div class="product-card-description">
      <p>Размеры</p>
      <p class="bold">{{ product.dimensions.width }} × {{ product.dimensions.height }} × {{ product.dimensions.depth }} см</p>
    </div>
    <div class="product-card-description">
      <p>Гарантия</p>
      <p class="bold">{{ product.warrantyInformation }} г</p>
    </div>
    <div class="product-card-description">
      <p>Доставка</p>
      <p class="bold">{{ product.shippingInformation }} г</p>
    </div>
    <div class="product-card-description">
      <p>Возврат</p>
      <p class="bold">{{ product.returnPolicy }} г</p>
    </div>

    <button class="button button-product" id="button-cart" (click)="onAddToCart($event, product)">В корзину</button>
  </div>
</div>
