<div class="container post-detail">
  <h2>{{ 'POSTS.DETAIL.TITLE' | translate }}</h2>
  <div class="post-detail__wrapper">
    <span class="post-detail__title">ID:</span>
    <span>{{ post.id }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.TITLE' | translate }}</span>
    <span>{{ post.title }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.BODY' | translate }}</span>
    <span>{{ post.body }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.TAGS' | translate }}</span>
    <span>{{ post.tags }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.LIKES' | translate }}</span>
    <span>{{ post.reactions.likes }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.DISLIKES' | translate }}</span>
    <span>{{ post.reactions.dislikes }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.VIEWS' | translate }}</span>
    <span>{{ post.views }}</span>
  </div>

  <div class="post-detail__wrapper">
    <span class="post-detail__title">{{ 'POSTS.COMMON.USER_ID' | translate }}</span>
    <span>{{ post.userId }}</span>
  </div>
</div>
