.page-footer {
  background-color: var(--green-background);
  padding-top: 178px;
  position: relative;

  &__wrapper {
    display: flex;
    gap: 70px;
  }
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo {
  position: absolute;
  top: -50px;
  width: 1180px;
  background-color: var(--white-background);
  box-shadow: 0 0 15px 0 #18121e1f;
  border-radius: 6px;
  display: flex;
  gap: 60px;
  padding: 66px 89px 14px 89px;
  box-sizing: border-box;

  &__wrapper {
    width: 380px;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: hsl(45, 89%, 54%);
  }

  &__subtitle {
    margin: 0;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    text-shadow: 0 4px 4px 0 #00000040;
  }
}

.form-email {
  width: 536px;

  &__container {
    width: 543px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__wrapper {
    width: 280px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
  }

  &__input {
    border-radius: 4px;
    padding: 0px 16px;
    border: none;
    background-color: #f3f5f4;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    color: #18121e;
    width: 280px;
    height: 44px;
    box-sizing: border-box;
  }
}

.personal-data {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #18121e;
}

.email-button {
  padding: 12px 24px;
  margin-top: 22px;
}

.contacts {
  color: var(--white-background);
  padding-bottom: 83px;

  &__title {
    color: var(--secondary-color);
    margin: 0 0 25px 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__description {
    color: var(--secondary-color);
    margin: 0 0 83px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__tel-email {
    margin-bottom: 34px;
  }

  &__email {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    text-decoration-style: solid;
    margin-right: 24px;
  }

  &__tel {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}

:host ::ng-deep {
  .svg-inline--fa {
    color: var(--secondary-color);
    width: 27px;
    height: 27px;
  }
}

.social-contacts {
  display: flex;
  gap: 19px;
}

.sevrvices-information-container {
  display: flex;
  gap: 170px;
}

.sevrvices-information-title {
  color: var(--secondary-color);
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-item {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 18px;
  position: relative;
}

.list-item::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 14px;
  background-image: url('/images/icon-arr-right.svg');
  background-repeat: no-repeat;
  background-size: 6px 10px;
  top: 4px;
  left: 0;
}

.services {
  width: 280px;
}

.information {
  width: 280px;
}

.copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: var(--secondary-color);
  background-color: #18121e;
  padding: 23px 0 23px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    display: block;
    color: var(--secondary-color);
  }

  &__personal-data {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
    color: #fff;
  }
}
