<section class="registration-user">
  <form
    [formGroup]="registrationForm"
    class="registration-form"
    appAnimatedGradient
    [gradientConfiguration]="gradientConfig"
  >
    <h2 class="registration-form__title">{{ 'USER.REGISTRATION.TITLE' | translate }}</h2>

    <div class="registration-form__wrapper">
      <label for="name" class="input-label">{{ 'USER.COMMON.NAME' | translate }}</label>
      <input
        class="input-field"
        type="text"
        formControlName="name"
        id="name"
        placeholder="{{ 'USER.REGISTRATION.NAME_PLACEHOLDER' | translate }}"
        appAnimatedGradient
        [gradientConfiguration]="gradientConfig"
      />
    </div>

    <div class="registration-form__wrapper">
      <label for="username" class="input-label">{{ 'USER.COMMON.USERNAME' | translate }}</label>
      <input
        class="input-field"
        type="text"
        formControlName="username"
        id="username"
        placeholder="{{ 'USER.REGISTRATION.USERNAME_PLACEHOLDER' | translate }}"
        appAnimatedGradient
        [gradientConfiguration]="gradientConfig"
      />
    </div>

    <div class="registration-form__wrapper">
      <label for="email" class="input-label">{{ 'USER.COMMON.EMAIL' | translate }}</label>
      <input
        class="input-field"
        type="text"
        formControlName="email"
        id="email"
        placeholder="{{ 'USER.REGISTRATION.EMAIL_PLACEHOLDER' | translate }}"
        appAnimatedGradient
        [gradientConfiguration]="gradientConfig"
      />
    </div>

    <div class="registration-form__wrapper">
      <label for="phone" class="input-label">{{ 'USER.COMMON.PHONE' | translate }}</label>
      <input
        class="input-field"
        type="text"
        formControlName="phone"
        id="phone"
        placeholder="{{ 'USER.REGISTRATION.PHONE_PLACEHOLDER' | translate }}"
        appAnimatedGradient
        [gradientConfiguration]="gradientConfig"
      />
    </div>

    <div class="registration-form__wrapper">
      <label for="website" class="input-label">{{ 'USER.COMMON.WEBSITE' | translate }}</label>
      <input
        class="input-field"
        type="text"
        formControlName="website"
        id="website"
        placeholder="{{ 'USER.REGISTRATION.WEBSITE_PLACEHOLDER' | translate }}"
        appAnimatedGradient
        [gradientConfiguration]="gradientConfig"
      />
    </div>

    <div formGroupName="address" class="grid-group">
      <div class="registration-form__wrapper">
        <label for="city" class="input-label">{{ 'USER.COMMON.CITY' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="city"
          id="city"
          placeholder="{{ 'USER.REGISTRATION.CITY_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div class="registration-form__wrapper">
        <label for="street" class="input-label">{{ 'USER.COMMON.STREET' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="street"
          id="street"
          placeholder="{{ 'USER.REGISTRATION.STREET_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div class="registration-form__wrapper">
        <label for="suite" class="input-label">{{ 'USER.COMMON.SUITE' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="suite"
          id="suite"
          placeholder="{{ 'USER.REGISTRATION.SUITE_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div class="registration-form__wrapper">
        <label for="zipcode" class="input-label">{{ 'USER.COMMON.ZIPCODE' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="zipcode"
          id="zipcode"
          placeholder="{{ 'USER.REGISTRATION.ZIPCODE_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div formGroupName="geo" class="registration-form__wrapper">
        <span class="input-label">{{ 'USER.COMMON.COORDINATES' | translate }}</span>
        <div class="geo-wrapper">
          <label for="lat" class="visually-hidden">{{ 'USER.COMMON.LATITUDE' | translate }}</label>
          <input
            class="input-field"
            id="lat"
            formControlName="lat"
            type="text"
            placeholder="{{ 'USER.REGISTRATION.LATITUDE_PLACEHOLDER' | translate }}"
            appAnimatedGradient
            [gradientConfiguration]="gradientConfig"
          />
          <label for="lng" class="visually-hidden">{{ 'USER.COMMON.LONGITUDE' | translate }}</label>
          <input
            class="input-field"
            id="lng"
            formControlName="lng"
            type="text"
            placeholder="{{ 'USER.REGISTRATION.LONGITUDE_PLACEHOLDER' | translate }}"
            appAnimatedGradient
            [gradientConfiguration]="gradientConfig"
          />
        </div>
      </div>
    </div>

    <div formGroupName="company" class="grid-group">
      <div class="registration-form__wrapper">
        <label for="company-name" class="input-label">{{ 'USER.COMMON.COMPANY' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="name"
          id="company-name"
          placeholder="{{ 'USER.REGISTRATION.COMPANY_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div class="registration-form__wrapper">
        <label for="catch-phrase" class="input-label">{{ 'USER.COMMON.MISSION' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="catchPhrase"
          id="catch-phrase"
          placeholder="{{ 'USER.REGISTRATION.MISSION_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>

      <div class="registration-form__wrapper">
        <label for="bs" class="input-label">{{ 'USER.COMMON.SPECIALIZATION' | translate }}</label>
        <input
          class="input-field"
          type="text"
          formControlName="bs"
          id="bs"
          placeholder="{{ 'USER.REGISTRATION.SPECIALIZATION_PLACEHOLDER' | translate }}"
          appAnimatedGradient
          [gradientConfiguration]="gradientConfig"
        />
      </div>
    </div>
    <button
      appBoldText
      class="button"
      type="submit"
      (click)="onSubmit()"
      [disabled]="registrationForm.invalid"
      id="registation-button"
    >
      {{ 'USER.REGISTRATION.SUBMIT' | translate }}
    </button>
  </form>
</section>
