.button {
  display: inline-block;
  background-color: var(--green-background);
  color: var(--secondary-color);
  appearance: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 12px 36px;
  border-radius: 4px;
  color: #fdfdfd;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 5px 5px #4f7555;
  }

  &:disabled {
    background-color: #878585;
    color: #5e5c5c;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--center {
    margin: 0 auto;
  }

  &--white {
    background-color: #FDFDFD;
    color: var(--green-background);
  }

  &--grey {
    background-color: #878585 ;
  }

}
