@use './fonts';
@use './normalize';
@use './button';

* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-color);
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

:root {
  --primary-color: #18121e;
  --secondary-color: #fdfdfd;
  --white-background: #ffffff;
  --grey-background: #f3f5f4;
  --green-background: #1a3e3e;
  --yellow-color: #f2be22;
  --header-bg: #18121E80;
}

.dark-theme {
  --white-background: #1a1038;
  --grey-background: #4d4763;
  --primary-color: white;
  --green-background: #3f1764;
  --header-bg: #705686;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb26 {
  margin-bottom: 26px;
}
